{{!-- This is the home page --}}

<h1>Provider Portal</h1>>

{{!-- {{!-- Jumbotron with photo --}}

{{!-- Navbar to include
* Home (index)
* Clients (all clients, all.handlebars)
* Providers (all providers, all.handlebars) --}}


{{!-- Card for add clients
<p> Add New Client </p>
<button> submit </button> > button will render
--}}

Card for view clients
<p> View all clients</p>
<button> submit </button>

{{!-- Card for add providers
<p> Add New Provider </p>
<button> submit </button>

Card for view providers
<p>View all Providers</p>
<button>submit</button>
--}}



{{!-- Footer --}}