{{!-- 1/9 sam --}}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/public/Css/style.css" type="text/css" />
    <title>Provider Portal</title>
    {{!-- Need to input a script file here --}}
    <script src=""></script>
</head>

<body>
    {{{ body }}}
</body>

</html>