<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Provider Portal</title>
    <link rel="stylesheet" href="/public/stylesheets/style.css">
</head>

<body>
    {{{ body }}}
</body>

</html>