{{!-- 1/9 sam --}}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/public/Css/style.css" type="text/css" />
    <title>Provider Portal</title>
    {{!-- Need to input a script file here --}}
    <script src="/public/js/login.js"></script>
    <script src="/public/js/members.js"></script>
    <script src="/public/js/signup.js"></script>
    <script src="/server.js"></script>


</head>

<body>
    {{{ body }}}
</body>

</html>